body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
h1,
h2 {
  font-family: "Bebas Neue", cursive;
}
p {
  color: #3e3e3e;
  line-height: 24px;
}
img {
  width: 100%;
}
header {
  width: 80%;
  margin: 0 auto;
}
.hello_txt h1 {
  font-size: 80px;
  font-weight: 500;
  color: #363958;
  margin-bottom: 18px;
  line-height: 1;
}
.name_color {
  color: #f46060;
}

#menu li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}
#menu ul {
  padding: 0;
  text-align: right;
}
#menu ul li a {
  text-decoration: none;
  color: #3c3c3c;
  font-weight: 500;
  font-size: 16px;
  padding: 20px 0;
}
#menu ul li a:hover {
    color: #F46060;
    text-decoration: underline;
}
.top_section {
  overflow: hidden;
  padding-top: 50px;
  width: 82%;
  margin: 0 auto;
}
.float_left {
  float: left;
}
.float_right {
  float: right;
}
.hello_txt {
  width: 33%;
  margin-right: 20px;
}
.hello_img {
  width: 42%;
}
.hello_txt p {
  margin-bottom: 36px;
}
.hello_txt a {
  background: linear-gradient(0deg, #ff8063 -28.33%, #f46060 95.83%);
  border-radius: 6px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 18px 53px;
}
.price_item a:hover, .hello_txt a:hover, .about_txt a:hover, #submit:hover, .inq_btn a:hover {
    background: linear-gradient(0deg, #fc6d4d -28.33%, #fd5b5b 95.83%);
}
.about_section {
  overflow: hidden;
  width: 82%;
  margin: 0 auto;
  padding-bottom: 50px;
}
.about_img {
  width: 50%;
}
.about_txt {
  width: 40.5%;
  margin-top: 50px;
}
.about_txt h2 {
  font-size: 48px;
  font-weight: 500;
  color: #363958;
  margin-bottom: 27px;
}
.about_txt a img {
  width: 15px;
  margin-right: 10px;
}
.about_txt p {
  margin-bottom: 34px;
}
.about_txt a {
  background: linear-gradient(0deg, #ff8063 -28.33%, #f46060 95.83%);
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 18px 30px;
}
.work_bg {
  background-color: #f8f9fc;
  overflow: hidden;
  padding: 120px 0;
}
.work_section {
  width: 82%;
  margin: 0 auto;
}
.work_item {
  width: 27%;
  margin-right: 5%;
  box-shadow: gainsboro 2px 4px 19px;
  border-radius: 10px;
  padding: 15px;
}
.work_item:last-child {
    margin-right: 0;
}
.work_section h2 {
  margin-bottom: 90px;
}
.section_head {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.section_head h2 {
  font-size: 48px;
  font-weight: 500;
  color: #363958;
  margin-top: 0;
}
.work_item a h3 {
  color: #363958;
  font-size: 22px;
  margin-bottom: 0;
}
.work_item a {
  text-decoration: none;
}
.pricing_section {
  width: 82%;
  margin: auto;
  padding-bottom: 120px;
  padding-top: 100px;
  overflow: hidden;
}
.pricing_section .section_head {
  margin-bottom: 40px;
}
.pricing_section h2 {
  margin: 0;
}
.price_item {
  width: 22%;
  margin-right: 3%;
  text-align: center;
  box-shadow: 1px 3px 6px gainsboro;
  border-radius: 5px;
}
.price_item:last-child {
    margin-left: 0;
}
.price_item h4 {
  margin: 0;
  font-size: 36px;
  font-family: "Bebas Neue";
  letter-spacing: 3px;
}
.price_item p {
  margin: 0;
  font-size: 18px;
  color: #666;
}
.recomended .price_item_head p {
  color: #ffffff;
}
.price_item ul {
  margin: 0;
  padding: 0;
  border-top: 1px solid gainsboro;
}
.price_item ul li {
  list-style: none;
  width: 75%;
  margin: 0 auto;
  line-height: 45px;
  border-bottom: 1px solid gainsboro;
}
.price_item_head {
  background-color: #dcdcdc73;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.price_item a {
  background: linear-gradient(0deg, #ff8063 -28.33%, #f46060 95.83%);
  border-radius: 3px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 5px 15px;
  text-transform: uppercase;
  margin: 25px 0;
}
.price_item ul li:last-child {
  border: none;
}
.recomended .price_item_head {
  background: linear-gradient(0deg, #ff8063 -28.33%, #f46060 95.83%);
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.contact_bg {
  background-image: url(../images/contact-map.png);
  min-height: 500px;
  background-size: cover;
  background-color: #f8f9fc;
}
.contact_section {
  padding-top: 80px;
  width: 82%;
  margin: auto;
}
.contact_section .section_head h2 {
  margin: 0;
}
.contact_form {
  width: 80%;
  margin: auto;
}
.left_form textarea {
  resize: none;
  font-size: 16px;
  padding: 15px;
  height: 125px;
  width: 100%;
}
.right_form input {
  padding: 10px 15px;
  font-size: 16px;
  margin-bottom: 15px;
  margin-left: 10px;
  width: 350px;
}
.left_form {
  width: 50%;
  margin-right: 5%;
}
.right_form {
  width: 45%;
}
input#chapcha {
  width: 47%;
}
input[type="submit"] {
  width: 38%;
  cursor: pointer;
  background: linear-gradient(0deg, #ff8063 -28.33%, #f46060 95.83%);
  border: 1px solid #444444;
  color: #ffffff;
  font-weight: 500;
}
.work_inquiry {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
.inquiry_box {
  background-image: url(../images/work_inq.png);
  background-size: contain;
  min-height: 215px;
  background-repeat: no-repeat;
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.inq_btn {
    right: 60px;
}
.inq_btn a {
    background: linear-gradient(0deg, #ff8063 -28.33%, #f46060 95.83%);
    color: #ffffff;
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 5px;
}
.inq_text, .inq_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.inq_text {
    left: 60px;
    font-size: 40px;
    color: white;
}
.inq_text h2 {
    font-weight: 500;
}
.footer_social_link {
    width: 82%;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
}
.social_icon img {
    width: 40px;
}
.footer_social_link h3 {
    font-family: "Bebas Neue", cursive;
    font-weight: 500;
    color: #696871;
    font-size: 24px;
    margin-bottom: 16px;
}
.footer_social_link a {
    font-size: 36px;
    text-decoration: none;
    color: #363958;
    font-weight: bold;
}
.social_icon {
    margin-top: 20px;
}
.social_icon a {
    margin: 0 15px;
}