body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
h1, h2 {
    font-family: 'Bebas Neue', cursive;
}
p {
    color: #3E3E3E;
    line-height: 24px;
}
img {
    width: 100%;
}
header {
    width: 80%;
    margin: 0 auto;
}
.hello_txt h1 {
    font-size: 80px;
    font-weight: 500;
    color: #363958;
    margin-bottom: 18px;
    line-height: 1;
}
.name_color{
    color: #F46060;
}

#menu li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
#menu ul {
    padding: 0;
    text-align: right;
}
#menu ul li a {
    text-decoration: none;
    color: #3C3C3C;
    font-weight: 500;
    font-size: 16px;
}
.top_section {
    overflow: hidden;
    padding-top: 50px;
    width: 82%;
    margin: 0 auto;
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}
.hello_txt {
    width: 33%;
    margin-right: 20px;
}
.hello_img {
    width: 42%;
}
.hello_txt p {
    margin-bottom: 36px;
}
.hello_txt a {
    background: linear-gradient(0deg, #FF8063 -28.33%, #F46060 95.83%);
    border-radius: 6px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 18px 53px;
}
.about_section {
    overflow: hidden;
    width: 82%;
    margin: 0 auto;
    padding-bottom: 50px;
}
.about_img {
    width: 50%;
}
.about_txt {
    width: 40.5%;
    margin-top: 50px;
}
.about_txt h2 {
    font-size: 48px;
    font-weight: 500;
    color: #363958;
    margin-bottom: 27px;
}
.about_txt a img {
    width: 15px;
}
.about_txt p {
    margin-bottom: 34px;
}
.about_txt a {
    background: linear-gradient(0deg, #FF8063 -28.33%, #F46060 95.83%);
    border-radius: 6px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 18px 30px;
}
.work_bg {
    background-color: #F8F9FC;
    overflow: hidden;
    padding: 120px 0;
}
.work_section {
    width: 82%;
    margin: 0 auto;
}
.work_item {
    width: 27%;
    margin-right: 3%;
    box-shadow: gainsboro 2px 4px 19px;
    border-radius: 10px;
    padding: 15px;
}
.work_section h2 {
    margin-bottom: 90px;
}
.section_head {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.section_head h2 {
    font-size: 48px;
    font-weight: 500;
    color: #363958;
    margin-top: 0;
}
.work_item a h3 {
    color: #363958;
    font-size: 22px;
    margin-bottom: 0;
}
.work_item a {
    text-decoration: none;
}
.pricing_section {
    width: 82%;
    margin: auto;
    padding-bottom: 120px;
    padding-top: 100px;
    overflow: hidden;
}
.pricing_section .section_head {
    margin-bottom: 40px;
}
.pricing_section h2 {
    margin: 0;
}
.price_item {
    width: 22%;
    margin-left: 2%;
    text-align: center;
    box-shadow: 1px 3px 6px gainsboro;
    border-radius: 5px;
}
.price_item h4 {
    margin: 0;
    font-size: 36px;
    font-family: 'Bebas Neue';
    letter-spacing: 3px;
}
.price_item p {
    margin: 0;
    font-size: 18px;
    color: #666;
}
.price_item ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid gainsboro;
}
.price_item ul li {
    list-style: none;
    width: 75%;
    margin: 0 auto;
    line-height: 45px;
    border-bottom: 1px solid gainsboro;
}
.price_item_head {
    background-color: #dcdcdc73;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.price_item a {
    background: linear-gradient(0deg, #FF8063 -28.33%, #F46060 95.83%);
    border-radius: 3px;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 5px 15px;
    text-transform: uppercase;
    margin: 25px 0;
}
.price_item ul li:last-child {
    border: none;
}
.recomended .price_item_head {
    background: linear-gradient(0deg, #FF8063 -28.33%, #F46060 95.83%);
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}